nav {
  width: 158px;
}
.sidebar {
  margin-top: 10px;
  margin-left: 222.182px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sidebar-list__item button {
  background-color: transparent;
  border: none;
  color: #777;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  width: 155px;
  height: 30px;
}
.sidebar-list__item button:hover {
  background-color: #333336;
}
.sidebar-list__item {
  margin: 2px 0;
}
.sidebar-list__item button span {
  margin-left: 5px;
}
