header {
  width: 100%;
  height: 50px;
  background-color: #333336;
}
.header {
  width: 960px;
  margin: 0 auto;
  display: flex;
  padding-top: 10px;
  align-items: center;
}
.logo-icon:hover {
  cursor: pointer;
}
.logo-icon {
  color: #fff;
}
.input-search {
  width: 230px;
  height: 32px;
  background-color: #444446;
  font-size: 12.5px;
  border-radius: 8px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.input-search input {
  background-color: transparent;
  border: none;
}
.input-search svg {
  margin: 0 10px;
}
