.card {
  width: 340px;
  height: 300px;
  background-color: #121212;
  display: flex;
  flex-flow: column;
  color: #dce0e0;
  margin: 20px;
}
.card-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card-details p {
  font-size: 15px;
}
