* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sorting-container {
  width: 152px;
  background-color: #bdbdbd;
  height: 100vh;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
}
.sorting-container h2 {
  margin-top: 35px;
  margin-left: 20px;
}
.users-container {
  width: 817px;
  height: 100vh;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
}
.users-container h2 {
  margin-top: 19px;
  margin-left: 34px;
}
